<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta class="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/typo.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <title>详情页</title>
</head>
<body>
<!--这是一个导航页面-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui red header item">竹書园</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>了解我</a>
            <div class="right m-item right item m-mobile-hide">
                <div class="ui icon input">
                    <input type="text" placeholder="搜索... " >
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
  <!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui horizontal link list">
                <div class="item">
                    <img src="../static/images/me.jpg" th:src="@{/images/me.jpg}" alt="" class="ui avatar image">
                    <div class="content"><a href="#" class="header">梁东明</a></div>
                </div>
                <div class="item">
                    <i class="calendar icon "></i>2022.3.13
                </div>
                <div class="item">
                    <i class="eye icon "></i>101
                </div>
            </div>
        </div>
        <div class="ui attached segment" style="height: 46em">
            <!--图片区域-->
            <img src="../static/images/yzq.jpeg" th:src="@{/images/yzq.jpeg}" alt="" class="ui fluid rounded image" style="height:700px">
        </div>
        <div class="ui attached padded segment">
            <!--内容区域-->
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label">原创</div>
            </div>

            <h2 class="ui centered aligned header">走进颜真卿的一生</h2>
            <div id="content" class="typo typo-selection m-padded-tb-large ">
                <p>    颜真卿（709年－784年），字清臣，小名羡门子，别号应方，琅琊临沂（今山东省临沂市）人 ，出生于京兆万年（今陕西省西安市)。
                    颜真卿书法精妙，擅长行、楷。初学褚遂良，后师从张旭，得其笔法。其正楷端庄雄伟，行书气势遒劲，创“颜体”楷书，对后世影响很大。与赵孟頫、柳公权</p>
                <p>    颜真卿（709年－784年），字清臣，小名羡门子，别号应方，琅琊临沂（今山东省临沂市）人 ，出生于京兆万年（今陕西省西安市)。
                    颜真卿书法精妙，擅长行、楷。初学褚遂良，后师从张旭，得其笔法。其正楷端庄雄伟，行书气势遒劲，创“颜体”楷书，对后世影响很大。与赵孟頫、柳公权</p>
                <p>    颜真卿（709年－784年），字清臣，小名羡门子，别号应方，琅琊临沂（今山东省临沂市）人 ，出生于京兆万年（今陕西省西安市)。
                    颜真卿书法精妙，擅长行、楷。初学褚遂良，后师从张旭，得其笔法。其正楷端庄雄伟，行书气势遒劲，创“颜体”楷书，对后世影响很大。与赵孟頫、柳公权</p>
                <p>    颜真卿（709年－784年），字清臣，小名羡门子，别号应方，琅琊临沂（今山东省临沂市）人 ，出生于京兆万年（今陕西省西安市)。
                    颜真卿书法精妙，擅长行、楷。初学褚遂良，后师从张旭，得其笔法。其正楷端庄雄伟，行书气势遒劲，创“颜体”楷书，对后世影响很大。与赵孟頫、柳公权</p>
            </div>
            <!--标签-->
            <div class="m-padded-tb-large">
                <div class="ui basic blue left pointing label">颜真卿</div>
            </div>
            <!--赞赏
            <div class="ui center aligned basic segment">
                <button id="m-pay-button-id" class="ui orange basic circular button">赞赏</button>
            </div>
            <div class="ui m-pay-q.popup flowing popup transition hidden">
                <div class="ui orange basic label">
                    <div class="ui images" style="font-size: inherit">
                        <div class="ui image">
                            <img src="./static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 120px">
                            <div>支付宝</div>
                        </div>
                        <div class="ui image">
                            <img src="./static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 120px">
                            <div>微信</div>
                        </div>
                    </div>
                </div>
            </div>
           -->


        </div>
        <div class="ui attached positive message">
            <!--博客信息-->
                <div class="ui middle aligned grid">
                    <div class="eleven wide column">
                        <ul class="list">
                            <li>作者：<span >梁东明</span><a href="#"  target="_blank">(联系作者)</a></li>
                            <li>发表时间：<span >2021-01-01</span></li>
                            <li>版权声明：helloworld</li>
                            <li>转载说明：请在文末添加二维码</li>
                        </ul>
                    </div>
                    <div class="five wide column">
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}"  alt="" class="ui right floated rounded bordered image" style="width: 110px">
                    </div>
                </div>
        </div>
        <div class="ui attached segment">
            <!--留言区域-->
            <div id="comment-container" class="ui teal segment">
                <div class="ui comments">
                    <h3 class="ui dividing header">评论区</h3>
                    <div class="comment">
                        <a class="avatar">
                            <img src="../static/images/bg.jpg" th:src="@{/images/bg.jpg}">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM</span>
                            </div>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <a class="reply">回复</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="../static/images/bg.jpg" th:src="@{/images/bg.jpg}">
                        </a>
                        <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">
                                <p>This has been very useful for my research. Thanks as well!</p>
                            </div>
                            <div class="actions">
                                <a class="reply">回复</a>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="../static/images/bg.jpg" th:src="@{/images/bg.jpg}">
                                </a>
                                <div class="content">
                                    <a class="author">Jenny Hess</a>
                                    <div class="metadata">
                                        <span class="date">Just now</span>
                                    </div>
                                    <div class="text">
                                        Elliot you are always so right :)
                                    </div>
                                    <div class="actions">
                                        <a class="reply">回复</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="../static/images/bg.jpg" th:src="@{/images/bg.jpg}">
                        </a>
                        <div class="content">
                            <a class="author">Joe Henderson</a>
                            <div class="metadata">
                                <span class="date">5 days ago</span>
                            </div>
                            <div class="text">
                                Dude, this is awesome. Thanks so much
                            </div>
                            <div class="actions">
                                <a class="reply">回复</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui form">
                <div class="field">
                    <textarea name="content" placeholder="请输入评论信息..."></textarea>
                </div>
                <div class="fields">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user  icon"></i>
                            <input type="text" name="nickname" placeholder="姓名：">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="Email" placeholder="邮箱：">
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui teal button"><i class="edit icon"></i>发布</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<!--尾部内容-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <img src="../static/images/wechat.jpg" class="ui rounded image " alt="" style="width: 110px">
            </div>
            <div class="three wide column">
                <h3 class="ui inverted blue header m-opacity-mini">书法爱好者</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item">独爱颜真卿</a>
                    <a href="#" class="item">欣赏赵孟頫</a>
                    <a href="#" class="item">崇拜王羲之</a>
                </div>
            </div>
            <div class="three wide column">
                <h3 class="ui inverted blue header m-opacity-mini">联系我</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: 1956392405@.com</a>
                    <a href="#" class="item">QQ: 1956392405</a>
                </div>
            </div>
            <div class="seven wide column">
                <h3 class="ui inverted header blue m-opacity-mini">我的博客</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item m-opacity-mini">分享我第一写的网页</a>
                    <a href="#" class="item m-opacity-mini">第一次写的项目</a>
                    <a href="#" class="item m-opacity-mini">谢谢观看</a>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">written in 2022</p>
    </div>
</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('#m-pay-button-id').popup({
        popup : $('.m-pay-q.popup'),
        on : 'click',
        position: 'bottom center'
    });

</script>
</body>
</html>