<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta class="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <title>分类</title>
</head>
<body>
<!--这是一个导航页面-->
<nav class="ui inverted attached segment m-padded-tb-mini" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui red header item">竹書园</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>了解我</a>
            <div class="right m-item right item m-mobile-hide">
                <div class="ui icon input">
                    <input type="text" placeholder="搜索... " >
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
   <!--中间内容-->
<div class="m-container-small m-padded-tb-massive">
   <div class="ui container">
       <div class="ui top attached segment">
           <div class="ui middle aligned two column grid">
               <div class="column">
                   <h3 class="ui green header">分类</h3>
               </div>
               <div class=" right aligned column">
                   共 <h3 class="ui orange header m-inline-block m-text-thin ">14</h3> 个
               </div>
           </div>
       </div>
       <div class="ui attached segment">
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic blue button">学习日记</a>
               <div class="ui basic blue left pointing label">24</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic blue button">学习日记</a>
               <div class="ui basic blue left pointing label">24</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic blue button">学习日记</a>
               <div class="ui basic blue left pointing label">24</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic blue button">学习日记</a>
               <div class="ui basic blue left pointing label">24</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic blue button">学习日记</a>
               <div class="ui basic blue left pointing label">24</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic blue button">学习日记</a>
               <div class="ui basic blue left pointing label">24</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic blue button">学习日记</a>
               <div class="ui basic blue left pointing label">24</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic blue button">学习日记</a>
               <div class="ui basic blue left pointing label">24</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic blue button">学习日记</a>
               <div class="ui basic blue left pointing label">24</div>
           </div>
       </div>
   </div>
       <div class="ui blue segment">
           <div class="ui padded vertical segment m-padded-tb-big m-mobile-lr-clear">
               <div class="ui mobile reversed stackable grid">
                   <div class="eleven wide column">
                       <h3 class="ui header">走进颜真卿</h3>
                       <p class="m-text">颜真卿（709年－784年），字清臣，小名羡门子，别号应方，琅琊临沂（今山东省临沂市）人 ，出生于京兆万年（今陕西省西安市)。
                           颜真卿书法精妙，擅长行、楷。初学褚遂良，后师从张旭，得其笔法。其正楷端庄雄伟，行书气势遒劲，创“颜体”楷书，对后世影响很大。与赵孟頫、柳公权</p>
                       <div class="ui stackable grid">
                               <div class="eleven wide column">
                                   <div class="ui horizontal link list">

                                       <div class="item">
                                           <img src="../static/images/me.jpg" alt="" class="ui avatar image">
                                           <div class="content"><a href="#" class="header">梁东明</a></div>
                                       </div>
                                       <div class="item">
                                           <i class="calendar icon "></i>2022.3.13
                                       </div>
                                       <div class="item">
                                           <i class="eye icon "></i>101
                                       </div>
                                   </div>
                               </div>
                               <div class=" right aligned five wide column">
                                   <a href="" target="_blank" class="ui teal basic m-padded-tiny label">了解更多</a>
                           </div>
                       </div>
                   </div>
                   <!--图片放置的地方-->
                   <div class="five wide column">
                       <a href="#" target="_blank" >
                           <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fp1.itc.cn%2Fq_70%2Fimages03%2F20210912%2F451f318c58a443cab1584f985dcff68d.jpeg&refer=http%3A%2F%2Fp1.itc.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1649777350&t=7dfd4789fd7a42ebb416c086bed10b12"
                                alt="" class="ui rounded image">
                       </a>
                   </div>
               </div>
           </div>
           <div class="ui padded vertical segment m-padded-tb-big m-mobile-lr-clear">
               <div class="ui mobile reversed stackable grid">
                   <div class="eleven wide column">
                       <h3 class="ui header">走进颜真卿</h3>
                       <p class="m-text">颜真卿（709年－784年），字清臣，小名羡门子，别号应方，琅琊临沂（今山东省临沂市）人 ，出生于京兆万年（今陕西省西安市)。
                           颜真卿书法精妙，擅长行、楷。初学褚遂良，后师从张旭，得其笔法。其正楷端庄雄伟，行书气势遒劲，创“颜体”楷书，对后世影响很大。与赵孟頫、柳公权</p>
                       <div class="ui grid">
                           <div class="eleven wide column">
                               <div class="ui horizontal link list">
                                   <div class="item">
                                       <img src="../static/images/me.jpg" alt="" class="ui avatar image">
                                       <div class="content"><a href="#" class="header">梁东明</a></div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon "></i>2022.3.13
                                   </div>
                                   <div class="item">
                                       <i class="eye icon "></i>101
                                   </div>
                               </div>
                           </div>
                           <div class=" right aligned five wide column">
                               <a href="" target="_blank" class="ui teal basic m-padded-tiny label">了解更多</a>
                           </div>
                       </div>
                   </div>
                   <!--图片放置的地方-->
                   <div class="five wide column">
                       <a href="#" target="_blank" >
                           <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fp1.itc.cn%2Fq_70%2Fimages03%2F20210912%2F451f318c58a443cab1584f985dcff68d.jpeg&refer=http%3A%2F%2Fp1.itc.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1649777350&t=7dfd4789fd7a42ebb416c086bed10b12"
                                alt="" class="ui rounded image">
                       </a>
                   </div>
               </div>
           </div>
           <div class="ui padded vertical segment m-padded-tb-big m-mobile-lr-clear">
               <div class="ui mobile reversed stackable grid">
                   <div class="eleven wide column">
                       <h3 class="ui header">走进颜真卿</h3>
                       <p class="m-text">颜真卿（709年－784年），字清臣，小名羡门子，别号应方，琅琊临沂（今山东省临沂市）人 ，出生于京兆万年（今陕西省西安市)。
                           颜真卿书法精妙，擅长行、楷。初学褚遂良，后师从张旭，得其笔法。其正楷端庄雄伟，行书气势遒劲，创“颜体”楷书，对后世影响很大。与赵孟頫、柳公权</p>
                       <div class="ui grid">
                           <div class="eleven wide column">
                               <div class="ui horizontal link list">
                                   <div class="item">
                                       <img src="../static/images/me.jpg" alt="" class="ui avatar image">
                                       <div class="content"><a href="#" class="header">梁东明</a></div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon "></i>2022.3.13
                                   </div>
                                   <div class="item">
                                       <i class="eye icon "></i>101
                                   </div>
                               </div>
                           </div>
                           <div class=" right aligned five wide column">
                               <a href="" target="_blank" class="ui teal basic m-padded-tiny label">了解更多</a>
                           </div>
                       </div>
                   </div>
                   <!--图片放置的地方-->
                   <div class="five wide column">
                       <a href="#" target="_blank" >
                           <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fp1.itc.cn%2Fq_70%2Fimages03%2F20210912%2F451f318c58a443cab1584f985dcff68d.jpeg&refer=http%3A%2F%2Fp1.itc.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1649777350&t=7dfd4789fd7a42ebb416c086bed10b12"
                                alt="" class="ui rounded image">
                       </a>
                   </div>
               </div>
           </div>
           <div class="ui padded vertical segment m-padded-tb-big m-mobile-lr-clear">
               <div class="ui mobile reversed stackable grid">
                   <div class="eleven wide column">
                       <h3 class="ui header">走进颜真卿</h3>
                       <p class="m-text">颜真卿（709年－784年），字清臣，小名羡门子，别号应方，琅琊临沂（今山东省临沂市）人 ，出生于京兆万年（今陕西省西安市)。
                           颜真卿书法精妙，擅长行、楷。初学褚遂良，后师从张旭，得其笔法。其正楷端庄雄伟，行书气势遒劲，创“颜体”楷书，对后世影响很大。与赵孟頫、柳公权</p>
                       <div class="ui grid">
                           <div class="eleven wide column">
                               <div class="ui horizontal link list">
                                   <div class="item">
                                       <img src="../static/images/me.jpg" alt="" class="ui avatar image">
                                       <div class="content"><a href="#" class="header">梁东明</a></div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon "></i>2022.3.13
                                   </div>
                                   <div class="item">
                                       <i class="eye icon "></i>101
                                   </div>
                               </div>
                           </div>
                           <div class=" right aligned five wide column">
                               <a href="" target="_blank" class="ui teal basic m-padded-tiny label">了解更多</a>
                           </div>
                       </div>
                   </div>
                   <!--图片放置的地方-->
                   <div class="five wide column">
                       <a href="#" target="_blank" >
                           <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fp1.itc.cn%2Fq_70%2Fimages03%2F20210912%2F451f318c58a443cab1584f985dcff68d.jpeg&refer=http%3A%2F%2Fp1.itc.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1649777350&t=7dfd4789fd7a42ebb416c086bed10b12"
                                alt="" class="ui rounded image">
                       </a>
                   </div>
               </div>
           </div>
           <div class="ui padded vertical segment m-padded-tb-big m-mobile-lr-clear">
               <div class="ui mobile reversed stackable grid">
                   <div class="eleven wide column">
                       <h3 class="ui header">走进颜真卿</h3>
                       <p class="m-text">颜真卿（709年－784年），字清臣，小名羡门子，别号应方，琅琊临沂（今山东省临沂市）人 ，出生于京兆万年（今陕西省西安市)。
                           颜真卿书法精妙，擅长行、楷。初学褚遂良，后师从张旭，得其笔法。其正楷端庄雄伟，行书气势遒劲，创“颜体”楷书，对后世影响很大。与赵孟頫、柳公权</p>
                       <div class="ui grid">
                           <div class="eleven wide column">
                               <div class="ui horizontal link list">
                                   <div class="item">
                                       <img src="../static/images/me.jpg" alt="" class="ui avatar image">
                                       <div class="content"><a href="#" class="header">梁东明</a></div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon "></i>2022.3.13
                                   </div>
                                   <div class="item">
                                       <i class="eye icon "></i>101
                                   </div>
                               </div>
                           </div>
                           <div class=" right aligned five wide column">
                               <a href="" target="_blank" class="ui teal basic m-padded-tiny label">了解更多</a>
                           </div>
                       </div>
                   </div>
                   <!--图片放置的地方-->
                   <div class="five wide column">
                       <a href="#" target="_blank" >
                           <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fp1.itc.cn%2Fq_70%2Fimages03%2F20210912%2F451f318c58a443cab1584f985dcff68d.jpeg&refer=http%3A%2F%2Fp1.itc.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1649777350&t=7dfd4789fd7a42ebb416c086bed10b12"
                                alt="" class="ui rounded image">
                       </a>
                   </div>
               </div>
           </div>
           <div class="ui padded vertical segment m-padded-tb-big m-mobile-lr-clear">
               <div class="ui mobile reversed stackable grid">
                   <div class="eleven wide column">
                       <h3 class="ui header">走进颜真卿</h3>
                       <p class="m-text">颜真卿（709年－784年），字清臣，小名羡门子，别号应方，琅琊临沂（今山东省临沂市）人 ，出生于京兆万年（今陕西省西安市)。
                           颜真卿书法精妙，擅长行、楷。初学褚遂良，后师从张旭，得其笔法。其正楷端庄雄伟，行书气势遒劲，创“颜体”楷书，对后世影响很大。与赵孟頫、柳公权</p>
                       <div class="ui grid">
                           <div class="eleven wide column">
                               <div class="ui horizontal link list">
                                   <div class="item">
                                       <img src="../static/images/me.jpg" alt="" class="ui avatar image">
                                       <div class="content"><a href="#" class="header">梁东明</a></div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon "></i>2022.3.13
                                   </div>
                                   <div class="item">
                                       <i class="eye icon "></i>101
                                   </div>
                               </div>
                           </div>
                           <div class=" right aligned five wide column">
                               <a href="" target="_blank" class="ui teal basic m-padded-tiny label">了解更多</a>
                           </div>
                       </div>
                   </div>
                   <!--图片放置的地方-->
                   <div class="five wide column">
                       <a href="#" target="_blank" >
                           <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fp1.itc.cn%2Fq_70%2Fimages03%2F20210912%2F451f318c58a443cab1584f985dcff68d.jpeg&refer=http%3A%2F%2Fp1.itc.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1649777350&t=7dfd4789fd7a42ebb416c086bed10b12"
                                alt="" class="ui rounded image">
                       </a>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<br>
<br>
<!--尾部内容-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <img src="../static/images/wechat.jpg" class="ui rounded image " alt="" style="width: 110px">
            </div>
            <div class="three wide column">
                <h3 class="ui inverted blue header m-opacity-mini">书法爱好者</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item">独爱颜真卿</a>
                    <a href="#" class="item">欣赏赵孟頫</a>
                    <a href="#" class="item">崇拜王羲之</a>
                </div>
            </div>
            <div class="three wide column">
                <h3 class="ui inverted blue header m-opacity-mini">联系我</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: 1956392405@.com</a>
                    <a href="#" class="item">QQ: 1956392405</a>
                </div>
            </div>
            <div class="seven wide column">
                <h3 class="ui inverted header blue m-opacity-mini">我的博客</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item m-opacity-mini">分享我第一写的网页</a>
                    <a href="#" class="item m-opacity-mini">第一次写的项目</a>
                    <a href="#" class="item m-opacity-mini">谢谢观看</a>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">written in 2022</p>
    </div>
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('#payButton').popup({
        popup : $('.payQR.popup'),
        on : 'click',
        position: 'button center'
    });

</script>
</body>
</html>