<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500</title>
</head>
<body>
<div>
    <h1>500,找不到问题所在.</h1>
    <p>不要每次都是500好吗，我找bug已经很认真了。</p>
</div>
  <div>
      <h4>（1）、2022.3.23更新，上次报500的原因已经找到，历时三天。通过查看idea的日志发现《script》代码就算被注释了，但
          是还能继续运行，因为我的代码不完整，所以报错了500，说明我的路径出错。</h4>
      <p>总结：只能怪我自己不会找bug，其实每次我修改代码，日志都报错，我自己嫌麻烦不愿意仔细看导致我做了很多无用功。
          每次代码出现bug都是因为很小的问题导致我花费大量的时间和人力</p>
  </div>
<div>
    <h4>（2）、2022.3.25更新，今天处理了被我忽视了好久的的bug，我的用户头像一开始是一直都不能获取的，我试过很多办法都不能成
        功 。但是今天无意之间发现我的_fragmengts框架的图片没有填写绝对路径</h4>
    <p>总结：代码没有报错，如果不是无意间检查_fragments代码，无论如何都不可能找到错误的。很多找不到的错误往往是路径
        问题。虽然_fragments框架可以让代码复用，但是如果不仔细检查是很难找到问题的，因为idea不会报错，只能勤加检查</p>
</div>
<div>
    <p>（3）、2022.3.30更新。今天又更新了一个远古时代的bug和一个最近的bug，首先远古时代的那个bug出现的原因是底部个人照片在移动端不
        能居中，原因是没有用div来包裹img标签导致无法居中。
    </p>
    <p>（4）、这次xinbug和（1）、的错误有关。是我当时写代码的时候引用_fragments的代码时候少写了关键的《script》相关的代码，所以3.
        23那天才会一整天报错。</p>

</div>
</body>
</html>